<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<properties resource="application.properties" />

	<!-- context:生成一组对象的环境 id:必选，上下文id，用于在生成错误时提示 defaultModelType:指定生成对象的样式 
		1，conditional：类似hierarchical； 2，flat：所有内容（主键，blob）等全部生成在一个对象中； 3，hierarchical：主键生成一个XXKey对象(key 
		class)，Blob等单独生成一个对象，其他简单属性在一个对象中(record class) targetRuntime: 1，MyBatis3：默认的值，生成基于MyBatis3.x以上版本的内容，包括XXXBySample； 
		2，MyBatis3Simple：类似MyBatis3，只是不生成XXXBySample； introspectedColumnImpl：类全限定名，用于扩展MBG -->
	<context id="tables2model" defaultModelType="flat" targetRuntime="MyBatis3">
		<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
			<property name="mappers" value="tk.mybatis.mapper.common.Mapper" />
			<!-- caseSensitive默认false，当数据库表名区分大小写时，可以将该属性设置为true -->
			<property name="caseSensitive" value="true" />
		</plugin>
		<jdbcConnection driverClass="${druid.driver-class}"
			connectionURL="${druid.url}" userId="${druid.username}" password="${druid.password}">
		</jdbcConnection>
		<javaModelGenerator targetPackage="com.carl.model"
			targetProject="E:\liqq\git2\springboot\springboot\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="mapper"
			targetProject="E:\liqq\git2\springboot\springboot\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<javaClientGenerator targetPackage="com.carl.dao.mysql"
			type="XMLMAPPER" targetProject="E:\liqq\git2\springboot\springboot\src\main\java">
		</javaClientGenerator>
		<table tableName="t_user" domainObjectName="User"
			enableSelectByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableCountByExample="false">
			<!--<property name="useActualColumnNames" value="true"></property> 不使用驼峰式，严格按字段名 -->
		</table>
	</context>
</generatorConfiguration>
